.carousel-item:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

section.container-fluid {
  background: url("../img/banniere5.jpg") no-repeat center center fixed;
  background-size: cover;
}

.carousel-first-img img {
  position: relative;
  opacity: 0.5;
}

.card img {
  height: 300px;
  object-fit: cover;
}

footer {
  background: url("../img/banniere5.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  z-index: 1;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 368px) and (max-width: 990px) {
  .carousel-title {
    display: none !important;
  }

  .carousel-first-img {
    opacity: 1 !important;
  }

  .carousel-first-img img {
    position: relative;
    opacity: 1;
  }

  .btn-group {
    width: 100%;
  }
}
